@use "../../scss/abstracts" as *;

.btn {
  font-size: $font-size;
  background: $gradient;
  border-radius: 2rem;
  color: white;
  padding: 0.9rem 2.1rem;

  &--hidden {
    display: none;

    @include mq(large) {
      padding: 0.5rem 2.1rem;
      display: block;
    }
  }
}
